<!-- This is your main app page
It should contain header, menu, -->

<!-- Step 5: container
<div class="container">
   <div class="row">
     <div class="col-md-6">
       Row 1 Column 1
     </div>
     <div class="col-md-6">
       Row 1 Column 2
     </div>
   </div>

   <div class="row">
     <div class="col-md-6">
       Row 2 Column 1
     </div>
     <div class="col-md-6">
       Row 2 Column 2
     </div>
   </div>
 </div> -->

<!-- Step 5: container-fluid
Alternatively with class="container-fluid"
<div class="container-fluid app-border">
   <div class="row">
     <div class="col-md-6 app-border">
       Row 1 Column 1
     </div>
     <div class="col-md-6">
       Row 1 Column 2
     </div>
   </div>

   <div class="row">
     <div class="col-md-6">
       Row 2 Column 1
     </div>
     <div class="col-md-6 app-border">
       Row 2 Column 2
     </div>
   </div>
 </div> -->

<!-- Step 6: app-border
<div class="container app-border">

<div class="row">
  <div class="col-md-6 app-border">
    Row 1 Column 1
  </div>
  <div class="col-md-6">
    Row 1 Column 2
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    Row 2 Column 1
  </div>
  <div class="col-md-6 app-border">
    Row 2 Column 2
  </div>
</div>
</div>
-->

<app-menu-nav-bar></app-menu-nav-bar>

<app-lesson-edit-form></app-lesson-edit-form>

<app-lesson-search-page></app-lesson-search-page>

<footer></footer> <!-- Your footer component -->

<!-- And then footer -->

<router-outlet></router-outlet>
